<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <div>
    For material design components use the <a href="https://github.com/AngularClass/angular2-webpack-starter/tree/material2"><b>material2</b></a> branch
  </div>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>
    <button (click)="load();">Load</button>
    <ul>
      <li *ngFor="let v of values">{{ v }}</li>
    </ul>
    <button (click)="sendMessage();">Send chat message</button>

     <button  pButton>Prime NG</button>
    <button  pButton>Prime NG2</button>

    <p-progressBar [value]="value"></p-progressBar>

    <p-growl [value]="msgs"  sticky="sticky"></p-growl>
<p-checkbox  binary="true" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
<md-card>test</md-card>
  <div>
      <button pButton type="button" label="Info">Info</button>
      <button type="button" pButton (click)="showWarn()" label="Warn"></button>
      <button type="button" pButton (click)="showError()" label="Error"></button>
      <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
      <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
  </div>
  <button md-raised-button color="primary" (click)="login();" >Login</button>
  <button md-raised-button color="primary" (click)="logout();" >Logout</button>
  <!--<button >PRIMARY</button>-->
  {{ user | json}}
  <chatbox></chatbox>
</div>

